* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sidbar {
  height: 100vh;
  min-height: calc(100vh - 65px);
  background-color: #0237a5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.avtive_h {
  margin-left: 40px;
}
.notife {
  margin-left: 25px;
  background-color: red;
}
ul {
  padding-left: 0 !important;
}
li {
  list-style: none;
  text-align: center;
  display: list-item;
}
a {
  text-decoration: none !important;
  color: #ffffff !important;
}
.collapsible {
  color: white;
  cursor: pointer;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collap1 {
  margin-left: 30px;
  margin-top: 12px;
}
.collap1:hover {
  background-color: #0d6efd;
}
.collap2 {
  margin-left: 60px;
}
.collap2:hover {
  background-color: #0d6efd;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #0237a5;
}
.icon {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  line-height: 1;
}
.avtive_h {
  padding: 10px;
  background-color: #183188;
}
p {
  color: #fff;
  font-size: 14px;
  display: flex;
  margin: 0 0 0 35px;
  padding-top: 35px;
}
.space {
  margin-left: 65px;
}
.text {
  color: #ffffff;
  font-size: 14px;
}
.item1 {
  margin-left: 40px;
}
.flash {
  margin-left: 25px;
  color: #ffffff;
}
