* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.title {
  height: 100vh;
}
.start-p {
  margin-top: 5px;
}
.sidbar {
  height: 1000px;
  min-height: calc(100vh - 65px);
  background-color: #0237a5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.notife {
  margin-left: 25px;
  background-color: #ff52fc;
  padding: 4px;
  border-radius: 42%;
}
ul {
  padding-left: 0 !important;
}
li {
  list-style: none;
  text-align: center;
  display: list-item;
}
a {
  text-decoration: none !important;
  color: #ffffff !important;
}
.collapsible {
  color: white;
  cursor: pointer;
  width: 238px;
  padding: 4px;
  padding-left: 65px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: blue;
}

.collap1 {
  margin-left: 30px;
}
.collap1:hover {
  background-color: #0d6efd;
}
.collap2 {
  margin-left: 33px;
  padding-left: 26px;
}
.collap2:hover {
  background-color: #0d6efd;
}
.collap3 {
  padding-right: 15px;
  margin-left: 60px;
}
.collap3:hover {
  background-color: #0d6efd;
}
.collap4 {
  margin-left: 60px;
  padding-right: 2px;
}
.collap4:hover {
  background-color: #0d6efd;
}
.collap5 {
  padding-left: 2px;
  margin-left: 60px;
}
.collap5:hover {
  background-color: #0d6efd;
}
.collap6 {
  padding-left: 12px;
  margin-left: 60px;
}
.collap6:hover {
  background-color: #0d6efd;
}
.collap7 {
  padding-left: 21px;
  margin-left: 60px;
}
.collap7:hover {
  background-color: #0d6efd;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #0237a5;
}
.icon {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  line-height: 1;
}
.avtive_h {
  padding: 10px;
  background-color: #183188;
}
p {
  color: #fff;
  font-size: 14px;
  display: flex;
  margin: 0 0 0 35px;
  padding-top: 30px;
}
.space {
  margin-left: 65px;
}
.text {
  color: #ffffff;
  font-size: 14px;
}
.item1 {
  margin-left: 40px;
}
.flash {
  margin-left: 25px;
  color: #ffffff;
}
.link2 {
  padding-top: 9px;
  padding-left: 40px;
}
.link2:hover {
  background-color: blue;
}
.link3 {
  margin-left: -20px;
  padding: 5px;
}
.link3:hover {
  background-color: blue;
}
.link4 {
  margin-left: -25px;
  padding: 5px;
}
.link4:hover {
  background-color: blue;
}
.button {
  background-color: red;
  margin: 0 0 10px 65px;
  color: white;
  height: 35px;
  width: 125px;
  border-radius: 10px;
}
